version: "3.8"

services:
  localstack:
    container_name: "${LOCALSTACK_DOCKER_NAME-localstack_main}"
    image: localstack/localstack
    network_mode: bridge
    ports:
      - "127.0.0.1:4510-4559:4510-4559"  # external service port range
      - "127.0.0.1:4566:4566"            # LocalStack Edge Proxy
    environment:
      - AWS_DEFAULT_REGION=eu-central-1
      - SERVICES=s3
      - EXTRA_CORS_ALLOWED_ORIGINS=https://localhost:8080
      - EXTRA_CORS_ALLOWED_HEADERS=authorization,content-type,x-amz-content-sha256,x-amz-date,x-amz-security-token,x-amz-user-agent,x-amz-checksum-mode,x-amz-checksum-crc32,x-amz-checksum-crc32c,x-amz-checksum-sha1,x-amz-checksum-sha256,x-amz-sdk-checksum-algorithm,x-amz-server-side-encryption,x-amz-server-side-encryption-aws-kms-key-id,x-amz-server-side-encryption-customer-algorithm,x-amz-server-side-encryption-customer-key,x-amz-server-side-encryption-customer-key-md5,x-amz-copy-source,x-amz-copy-source-range,x-amz-metadata-directive,x-amz-tagging,x-amz-acl,x-amz-grant-read,x-amz-grant-write,x-amz-grant-read-acp,x-amz-grant-write-acp,x-amz-grant-full-control,x-amz-website-redirect-location,x-amz-storage-class,x-amz-mfa,x-amz-request-payer,x-amz-bucket-object-lock-token,x-amz-object-lock-mode,x-amz-object-lock-retain-until-date,x-amz-object-lock-legal-hold,x-amz-bypass-governance-retention
      - DEBUG=${DEBUG-}
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "${LOCALSTACK_VOLUME_DIR:-/tmp}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - ./localstack:/etc/localstack/init/ready.d
